*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial;
background:#1c0212;
color:rgb(128, 99, 141);

}



nav{

display:flex;
justify-content:space-between;
padding:20px 50px;
background:#1c0212;

}


nav a{

color:rgb(128, 99, 141);
margin:15px;
text-decoration:none;

}



.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}


.hero h1{

font-size:60px;

}


.hero button{

margin-top:20px;
padding:12px 25px;
border:none;
border-radius:8px;

}



.section{

padding:60px;

}



.section h2{

color:#cb38f8;
margin-bottom:20px;

}



.skills{

display:flex;
gap:15px;
flex-wrap:wrap;

}



.skills span{

background:#cb38f8;
color:rgb(128, 99, 141);
padding:10px;
border-radius:8px;

}



.card{

background:#311e3b;
padding:20px;
border-radius:10px;

}

.profile{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

margin-bottom:30px;

border:4px solid #cb38f8;

}

.project-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

section{

animation:fade 0.8s ease;

}


@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}

}